/* 

   .login-container {
    max-width: 500px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }
  
  label {
    flex: 1; 
    margin-bottom: .5em;
    color: #333;
    font-weight: bold;
  }
  
  input {
    flex: 2; 
    border: 1px solid #ccc;
    padding: .5em;
    font-size: 1em;
    border-radius: 5px;
  }
  
  button {
    padding: 0.7em;
    font-size: 1em;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 1em;
  }
   */

   /* Login.css */
/* body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
} */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background: linear-gradient(45deg, #232f3b, #000000);

  margin-top: -25px;
  border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-card {
  background: rgba(255, 255, 255, 0.8);
  
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.loginbtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
} 

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}
